{% extends 'layout.html.twig' %}

{% block main %}
    <a class="logout" href="/logout">Logout</a>
    <table class="activities">
        {% for activity in activities %}
            <tr>
                <td>{{activity.title}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}