{% extends 'layout.html.twig' %}

{% block main %}
<p>
    è un sistema di <b>autoorganizzazione delle pulizie</b> di un luogo utilizzato
    da più persone o gruppi di persone.
</p>

<h3>Come funziona</h3>
<p>
    <a href="/teams" >Registra la tua squadra</a> poi seleziona alcune
    <a href="/activities">attività da eseguire</a>
    e prendile in carico.<br/>
    Organizzati con la tua squadra, trovati con loro sul posto e cerca di
    eseguire tutte le attività.<br/>
    Poi torna <a href="/activities">qui</a> e dichiara de averle fatte.
</p>

<h3>Il punteggio</h3>
<p>
    <b>Ogni attività ha un punteggio</b> determinato empiricamante in base al grado di
    difficoltà/tempo necessario/frequenza di eseguzione. Più attività svolgerà
    la tua squadra maggiore sarà il suo punteggio.<br/>
</p>
<p>
    Il punteggio verrà diviso per il numero di componenti della squadra,
    quindi se <i>The cleaners</i> che sono in 5 svolgono attività per 10 punti
    guadagneranno 2 punti.
</p>

<h3>Arbitrio</h3>
<p>
    Nessuno controllerà che abbiate fatto quello che dichiarate di aver fatto
    e se l'avete fatto bene. Siate <b>onesti</b> con voi stessi e con gli altri.
</p>
<p>
    E quando sarete <b>in cima</b> alla <a href="/teams">classifica</a>? <b>Rilassatevi</b>! Non ne avrete per
    un bel po'.<br/>
    Se invece siete <b>in fondo</b>? Beh cosa aspettate? Sapete che dovete fare.
</p>

<h3>Ma è un gioco?</h3>
<p>
    Perché impostare le pulizie come un <b>gioco</b>? 
</p>
<p>
    Questa si chiama <b>gamificazione</b> ossia sfruttare gli istinti primordiali
    per rendere apprezzabile se non divertente ciò potrebbe non esserlo.
</p>
<p>
    Una visione d'insieme di ciò che c'è da fare e di ciò che è stato fatto
    aiuta le persone ad avere <b>consapevolezza</b> del valore del loro contributo.
</p>
<p>
    Il fatto che siano le persone a prendersi in carico le attività anziché
    qualcun altro ad impogliele aumenta il livello di <b>responsabilizzazione</b> delle
    stesse.
</p>

<h3>3, 2, 1... Via</h3>
<p>
    Il gioco è già iniziato... non attendete oltre. Chi entra dopo parte comunque
    <b>da zero</b>. Se il gioco funziona allora lo renderemo più fair! 
</p>
<p>
    Avanti!
</p>
{% endblock %}
