config:
  google:
    client:
      applicationName: CleanGame
      clientId: 633253106061.apps.googleusercontent.com
      clientSecret: [clientSecret]
      redirectUri: http://cleangame.local.com/oauth2callback
      developerKey: [developerKey]
    calendar:
      id: g5p17tlpbuug5a9inhsn3ludpk@group.calendar.google.com
  data:
    path: /data
      